{{define "header"}}
<div id="header">
    <div id="logo">some logo</div>
    <div id="nav-links">
        <a href="#">nav_link 1</a>
        <a href="#">nav_link 2</a>
        <a href="#">nav_link 3</a>
        <a href="#">maybe some logout link</a>
    </div>
</div>
{{end}}