<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Raw: {{.}}
    Lower Case: {{. | lower}}
    Flipped Lower Case: {{. | lower | flip}}
    Capitalized Flipped Lower Case: {{. | lower | flip | capital}}
</body>
</html>