{{define "bunchadivs"}}
<div>
    layer 1
    <div>
        layer 2
        <div>
            layer 3
            <div>
                layer 4
                <div>
                    Actual data: {{.}}
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}